# Intellij IDEA files
ARCA-tool.iml
ARCA-tool.ipr
ARCA-tool.iws
.idea
!.idea/copyright
!.idea/runConfigurations
!.idea/codeStyleSettings.xml
!.idea/projectCodeStyle.xml

# Play files
logs
test-result
tmp
modules
out
taq
precompiled
*-*-*-*-*
cobertura.ser
