#{extends 'main.html' /}
#{set title:'createRCA.title' /}
<!-- Lomakkeeseen Casen tiedot
-Nimi
-tyyppi             int     pudotusvalikko  1 = software, 0 = other
-private            bit     0=public 1=private
Luodaan lomake, jossa kysytään seuraavat tiedot

Yrityksen tiedot:
-Yrityksen nimi,    Varchar(100)
-yrityksen koko     int     pudotusvalikko 1-10, 11-50, 51-100, 101-300, 301->
-globaali vai ei    bit     checkbox

-->
<div id="createRCACase">

    <h1>&{'createRCA.title'}</h1>

    #{form @RCACaseController.postRCAData()}

    #{if flash.error}
    <p class="error">RCA Case type
        &{flash.error}
    </p>
    #{/if}
    #{if flash.success}
    <p class="success">
        &{flash.success}
    </p>
    #{/if}

    <p id="casename-field">
        <label for="casename">&{'createRCA.caseName'}</label>
        <input type="text" name="name" id="casename" value="${flash.name}"/>
    </p>

    <p id="RCACaseType">
    <label for="RCACaseType">&{'createRCA.rcaCaseType'}</label>
    #{select 'type', value:1, id:'type'}
    #{list types, as:'type'}
        #{option type.value}${type.text}#{/option}
    #{/list}
    #{/select}
    </p>

    <p id="company-field">
        <label for="companyName">&{'createRCA.company'}</label>
        <input type="text" name="companyName" id="companyName" value="${flash.companyName}"/>
    </p>

    <p id="sizeDropdown">
    <label for="sizeDropdown">&{'createRCA.companySize'}</label>
    #{select 'companySize', value:1, id:'companySize'}
     #{list companySizes, as:'size'}
        #{option size.value}${size.text}#{/option}
    #{/list}
    #{/select}
    </p>

    <p id="multinational-field">
        <input type="checkbox" name="multinational" id="multinational" value="true" ${flash.multinational ?
        'checked="true"'
         : ''}/>
        <label for="multinational">&{'createRCA.multinational'}</label>
    </p>

    <p id="public-field">
        <input type="checkbox" name="isCasePublic" id="isCasePublic" value="true" ${flash.isCasePublic ? 'checked="true"' :
        ''}
                                                                      />
        <label for="isCasePublic">&{'createRCA.public'}</label>
    </p>

    <p id="create-field">
        <input type="submit" id="create" value="&{'createRCA.create'}"/>
    </p>

    #{/form}
</div>