#{extends 'main.html' /}
#{set title:'createRCA.title' /}
<!-- Lomakkeeseen Casen tiedot
-Nimi
-tyyppi             int     pudotusvalikko  1 = software, 0 = other
-private            bit     0=public 1=private
Luodaan lomake, jossa kysytään seuraavat tiedot

Yrityksen tiedot:
-Yrityksen nimi,    Varchar(100)
-yrityksen koko     int     pudotusvalikko 1-10, 11-50, 51-100, 101-300, 301->
-globaali vai ei    bit     checkbox

-->
<div id="createRCACase">

    <h1>&{'createRCA.title'}</h1>

    #{form @create()}

    #{if flash.error}
    <p class="error">
        &{flash.error}
    </p>
    #{/if}
    #{if flash.success}
    <p class="success">
        &{flash.success}
    </p>
    #{/if}

    <p id="casename-field">
        <label for="casename">&{'createRCA.casename'}</label>
        <input type="text" name="casename" id="casename" value="${flash.casename}"/>
    </p>
    #{select 'RCAtype', value:1, id:'select1'}
    #{option 1}Software case#{/option}
    #{option 2}Other#{/option}
    #{/select}
    <p id="company-field">
        <label for="company">&{'createRCA.company'}</label>
        <input type="text" name="company" id="company" value="${flash.company}"/>
    </p>

    <label>&{'createRCA.companySize'}</label>
    #{select 'CompanySize', value:1, id:'CompanySize'}
    #{option 1}1-10#{/option}
    #{option 2}11-50#{/option}
    #{option 3}51-100#{/option}
    #{option 4}101-300#{/option}
    #{option 5}301+#{/option}
    #{/select}
    <p id="multinational-field">
        <input type="checkbox" name="multinational" id="multinational" value="true" ${flash.multinational ?
        'checked="true"'
         : ''}/>
        <label for="multinational">&{'createRCA.multinational'}</label>
    </p>
    <p id="public-field">
        <input type="checkbox" name="public" id="public" value="true" ${flash.public ? 'checked="true"' : ''}
                                                                      />
        <label for="public">&{'createRCA.public'}</label>
    </p>

    <p id="create-field">
        <input type="submit" id="create" value="&{'createRCA.create'}"/>
    </p>
    #{/form}
</div>