#{if causes != null}
%{
    int __causesPerPage = 10;
}%
#{if causes.size().page(__causesPerPage) > 1}
<div class="center pagination" id="pagination-causes">
    <ul>
        <li class="prev disabled"><a href="javascript:">&larr; &{'button.prev'}</a></li>
        %{for ( i in 1..causes.size().page(__causesPerPage) ) { }%
            <li ${i == 1 ? "class=active" : ''}><a href="javascript:">${i}</a></li>
        %{ } }%
        <li class="next"><a href="javascript:">&{'button.next'} &rarr;</a></li>
    </ul>
</div>
#{/if}

<script type="text/javascript" charset="utf-8">
    var likeAction = #{jsAction @CauseController.like(':causeId') /};
    var dislikeAction = #{jsAction @CauseController.dislike(':causeId') /};

    function checkLikes(causeId, data) {
        $("#cause-" + parseInt(causeId) + "-likes").text(data.count);
        if (data.hasliked) {
            if (!data.isowner) {
                $("#cause-" + parseInt(causeId) + "-likebutton").hide();
            }
            $("#cause-" + parseInt(causeId) + "-dislikebutton").show();
        } else {
            $("#cause-" + parseInt(causeId) + "-dislikebutton").hide();
            $("#cause-" + parseInt(causeId) + "-likebutton").show();
        }
        $("table#cause-table").trigger("update");
    }

    function like(causeId) {
        $.post(likeAction({causeId: causeId}), function(data) {
            checkLikes(causeId, data);
        });
    };

    function dislike(causeId) {
        $.post(dislikeAction({causeId: causeId}), function(data) {
            checkLikes(causeId, data);
        });
    };
</script>

<table class="condensed-table bordered-table" id="cause-table">
    <thead>
        <tr>
            #{if showCorrections}
            <th>&{'monitoring.numberOfCorrections'}</th>
            #{/if}
            <th>&{'monitoring.causeName'}</th>
            <th>&{'monitoring.relatedCase'}</th>
            <th>&{'monitoring.status'}</th>
            <th>&{'monitoring.score'}</th>
            #{if user}<th>&{'monitoring.commands'}</th>#{/if}
        </tr>
    </thead>
    <tbody>
    #{list causes, as:'cause'}
        <tr id="cause-${cause.id}" class="causes-page-${cause_index.page(__causesPerPage)}">
            #{if showCorrections}
            <td class="toggleCorrections">
                <a href="javascript:" class="*{ui-icon ui-icon-default}* ui-icon-plusthick">${cause.corrections.size()}</a>
            </td>
            #{/if}
            <td>${cause.name}</td>
            <td>${cause.rcaCase.caseName}</td>
            <td #{if cause.rcaCase.ownerId == currentUserId}class="editable cause-status"#{/if}>&{'monitoring.statusCause.' + cause.status?.name}</td>
            <td id="cause-${cause.id}-likes">${cause.countLikes()}</td>
            #{if user}<td>
                <a href="javascript:" id="cause-${cause.id}-dislikebutton"
                   class="btn danger like" onclick="dislike(${cause.id})"
                        #{if !cause.hasUserLiked(user)} style="display:none;" #{/if}>-1</a>
                <a href="javascript:" id="cause-${cause.id}-likebutton"
                   class="btn success like" onclick="like(${cause.id})"
                    #{if (!(cause.rcaCase.ownerId == currentUserId) && cause.hasUserLiked(user))}
                   style="display:none;"
                    #{/if}>+1</a>
            </td>#{/if}
        </tr>
        #{if showCorrections}
        #{list cause.corrections, as:'correction'}
        <tr id="correction-${correction.id}" class="correction-for-cause-${cause.id}">
            <td colspan="3">${correction.name}</td>
            <td #{if cause.rcaCase.ownerId == currentUserId}class="editable correction-status"#{/if}>&{'monitoring.statusCorrection.' + correction.status?.name}</td>
            <td></td>
        </tr>
        #{/list}
        #{/if}
    #{/list}
    </tbody>
</table>

#{i18n keys:['monitoring.statusC*'] /}
<script type="text/javascript">
    var causesPerPage = '${__causesPerPage}';
    $.tablesorter.addWidget({
        id: "pagination",
        format: function(table) {
            $("span.ui-icon-minusthick").toggleClass("ui-icon-plusthick").toggleClass("ui-icon-minusthick");
            $("tr[id^='correction-']").hide();

            $(table).find("tbody tr[id^='cause']").each(function(index, element) {
                var causeId = $(this).attr("id").replace("cause-", "");
                $(this).alterClass("causes-page-*", "causes-page-" + Math.ceil(index / causesPerPage + 0.01));
                $("tr.correction-for-cause-" + causeId)
                        .alterClass("causes-page-*", "causes-page-" + Math.ceil(index / causesPerPage + 0.01))
                        .insertAfter(this);
            });

            $('tr[class^="causes-page-"]').hide();
            var currentPage = $("div#pagination-causes").find("li.active a").html();
            if (currentPage == undefined) {
                currentPage = 1;
            }
            $("tr.causes-page-" + currentPage).show();
            $('tr[id^="correction-"]').removeClass("show").hide();
        }
    });

    $(function() {
        $('.well .head').each(function() {
            $(this).next().parent().css("padding", "10px 19px");
        });

        #{if showCorrections}
        var sortList = [[4,1],[0,1]];
        #{/if}
        #{else}
        var sortList = [[3,1]];
        #{/else}

        $("table#cause-table").tablesorter({ sortList: sortList, widgets: ['pagination'] });

        $("tr[id^='correction']").hide();

        $(".toggleCorrections").click(function() {
            $(this).parent().nextUntil("tr[id^='cause']").toggleClass("show").toggle("fast");
            $(this).find("span.ui-icon").toggleClass("ui-icon-plusthick").toggleClass("ui-icon-minusthick");
        });
    });

    $("#pagination-causes li a").live("click", function(event) {
        var page = $(this).parent().parent().find("li.active a").html();
        $('tr[id^="correction-"]').each(function() {
            if ($(this).hasClass("causes-page-" + page) && $(this).hasClass("show")) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    });

    var causeStatusJson =
        {
        #{list causeStatuses, as:'status'}
        "${status.name}":"&{'monitoring.statusCause.' + status.name}"#{if !status_isLast},#{/if}
        #{/list}
        };

    $(".editable.cause-status").editable(function(value, settings) {
        var causeId = $(this).parent().attr("id").replace("cause-", "");
        var changeCauseStatusAction = #{jsAction @MonitoringController.changeCauseStatus(':causeId',':statusOfCause') /}
        $.post(changeCauseStatusAction({causeId: causeId, statusOfCause: value}), function(resp) {
            if (resp) {
                $("#cause-"+causeId+" .editable.cause-status").html(i18n('monitoring.statusCause.' + value));
                $("#cause-"+causeId+" .editable.cause-status").blur();
                $("table#cause-table").trigger("update");
            }
        });
    }, {
        data : causeStatusJson,
        type : 'select',
        onblur : 'submit',
				submit : 'ok'
    });

    var correctionStatusJson =
        {
        #{list correctionStatuses, as:'status'}
        "${status.name}":"&{'monitoring.statusCorrection.' + status.name}"#{if !status_isLast},#{/if}
        #{/list}
        };

    $(".editable.correction-status").editable(function(value, settings) {
        var correctionId = $(this).parent().attr("id").replace("correction-", "");
        var changeCorrectionStatusAction = #{jsAction @MonitoringController.changeCorrectionStatus(':correctionId', ':statusOfCorrection') /}
        $.post(changeCorrectionStatusAction({correctionId: correctionId, statusOfCorrection: value}), function(resp) {
            if (resp) {
                $("#correction-"+correctionId+" .editable.correction-status").html(i18n('monitoring.statusCorrection.' + value));
                $("#correction-"+correctionId+" .editable.correction-status").blur();
                $("table#cause-table").trigger("update");
            }
        });
    }, {
        data : correctionStatusJson,
        type : 'select',
        onblur : 'submit',
				submit : 'ok'

    });
</script>
#{/if}