#{if cases != null}
<div class="well">
    <h3 class="head">
        &{'monitoring.selectCaseTitle'}
        <span class="ui-icon ui-icon-default ui-icon-circle-triangle-n pull-right"></span>
    </h3>
    <div>
    %{
        int __casesPerPage = 9; // must be dividable by 3 because the layout
    }%
        #{if cases.size().page(__casesPerPage) > 1}
        <div class="center pagination" id="pagination-cases">
            <ul>
                <li class="prev disabled"><a href="javascript:">&larr; &{'button.prev'}</a></li>
                %{for ( i in 1..cases.size().page(__casesPerPage) ) { }%
                    <li ${i == 1 ? "class=active" : ''}><a href="javascript:">${i}</a></li>
                %{ } }%
                <li class="next"><a href="javascript:">&{'button.next'} &rarr;</a></li>
            </ul>
        </div>
        #{/if}
    #{if cases.size() == 0}
        <div class="alert-message warning">
            <p>&{'monitoring.noCasesFound'}</p>
        </div>
    #{/if}
    #{list items:cases, as:'rcaCase'}
        #{if rcaCase_index % __casesPerPage == 1}
        <div class="cases-page-${rcaCase_index.page(__casesPerPage)}" class="row">
        #{/if}
            #{if rcaCase_index % 3 == 1}
            <div class="row inputs-list">
            #{/if}
                <div class="span3 input">
                    <label>
                        <input type="checkbox" value="${rcaCase.id}" name="selectedCases">
                        <span>${rcaCase.caseName}</span>
                    </label>
                </div>
            #{if rcaCase_index % 3 == 0}
            </div>
            #{/if}
        #{if rcaCase_index % __casesPerPage == 0 || rcaCase_isLast}
        </div>
        #{/if}
    #{/list}
    </div>
</div>
#{/if}

<script type="text/javascript">
    $(function() {
        $('.well .head').each(function() {
            $(this).next().parent().css("padding", "10px 19px");
        });

        $('div[class^="cases-page-"]').hide();
        $("div.cases-page-1").show();
    });
</script>