<p>Hi,</p>

<p>
    #{if user.name}${user.name}#{/if}#{else}${user.email}#{/else} has invited you to
    a Root Cause Analysis session ${rcaCase.caseName}.
</p>

<p>
Click #{a @@RegisterController.registerInvitation(invitedUser.id, rcaCase.id, inviteHash)}here#{/a} to participate to the session.
</p>
</br>
<p>
	If you don't know the inviter or you have no idea of what this email is all about, you can just ignore this email.
</p>

<p>
	Please note: ARCA-tool will never request your login information through email.
</p>

<p>
Best of regards,<br/>
The ARCA-tool Team
</p>