.nodeBox { 
  	color:rgb(0,0,0); 
  	font-family:Helvetica; 
  	font-size: 10pt;
	text-align: center;
	border: solid;
	border-radius: 10px;
	border-width: 1px;
	padding: 3px;
	vertical-align: left;
	border-top: 1px solid rgb(87,87,87);
	border-right: 1px solid rgb(87,87,87);
	border-left: 1px solid rgb(192,192,192);
	border-bottom: 1px solid rgb(192,192,192);
	background:#BCD2EE;
	margin-left:auto;
	margin-right:auto;
	min-width:5em;
	max-width:10em;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.rootNodeBox {
	color:rgb(255,255,255); 
  	font-family:Helvetica; 
  	font-size: 12pt;
	text-align: center;
	border: solid;
	border-radius: 10px;
	border-width: 1px;
	padding: 10px;
	vertical-align: left;
	border-top: 1px solid rgb(87,87,87);
	border-right: 1px solid rgb(87,87,87);
	border-left: 1px solid rgb(192,192,192);
	border-bottom: 1px solid rgb(192,192,192);
	background:#3579DC;
	margin-left:auto;
	margin-right:auto;
	min-width:5em;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}


#radial_container {
	position:relative;
	left:425px;
	top: 75px;
	width:100px;
	height:100px;
	text-align:center;
}
.radial_div_item {
	background-color:none;
	height:30px;
	padding:7px;
	color:#234;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	cursor:pointer;
}
.radial_div_item.active {
	
}
.my_class {
	font-size:13px;
	color:#abc;
	background-color:#def;
	-moz-border-radius:30px;
	width:20px;
	height:20px;
	-webkit-border-radius:30px;
}