a.lang-select {
    font-size: 0;
    line-height: 0;
    margin: 0 2px;
    padding: 0;
}

a.lang-select img {
    margin: 0;
    padding: 1px;
    border: 1px solid lightgray;
    height: 11px;
}

button a {
  color: #FFF;
}

div#login .fieldset {
  
}

form label {
  text-align: left;  
}

div#login div.fieldset div {
    position: relative;
    display: inline;
}
#remember-field label {
    font-size: 12px;
    color: #666;
    float:right;
}

div#login div.fieldset div span.inputTip {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    position: absolute;
    top: 11px;
    left: 6px;
    clear: right;
}
*:first-child+div#login div.fieldset div span.inputTip {
    top: -2px;
}

div#login div.fieldset div input[type="text"],
div#login div.fieldset div input[type="password"] {
    font-size: 13px;
    height: 15px;
    padding: 6px;
    width: 130px;
    position: relative;
    top: 0px;
    left: 0px;
}

div#login div#register {
}

div#login div#gLogin {
    
}

div#rcacase-share-dialog form {
    margin-bottom: 20px;
}
