<div class="topbar">
    <div class="fill">
        <div class="container">
            #{a @IndexPageController.index(), class:'brand'}&{'applicationName'}#{/a}
            <ul class="nav">
                <li class="${ activePage == 'index' ? 'active' : ''}">#{a @IndexPageController.index()}&{'indexPage.title'}#{/a}</li>
                <li class="${ activePage == 'monitoring' ? 'active' : ''}">#{a @MonitoringController.index()}&{'monitoringPage.title'}#{/a}</li>
                <li class="${ activePage == 'about' ? 'active' : ''}">#{a @AboutController.index()}&{'aboutPage.title'}#{/a}</li>
                <li class="${ activePage == 'contact' ? 'active' : ''}">#{a @ContactController.index()}&{'contactPage.title'}#{/a}</li>
            </ul>
            <div class="pull-right">
                #{login /}
            </div>
			<div class="pull-right">
	            #{languages /}
	        </div>
        </div>
    </div>
</div>